<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDo List</title>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div id="todo-form">
    <form>
        <h2>Добавление новой задачи</h2>
        <label>Название задачи:</label>
        <input type="text" name="name" value="">
        <label>Описание:</label>
        <input type="text" name="description" value="">
        <hr>
        <button id="save-todo">Сохранить</button>
    </form>
</div>
<div id="todo-form-edit">
    <form>
        <h2>ТуДушка</h2>
        <label>Название задачи:</label>
        <input type="text" name="name" value="">
        <label>Описание:</label>
        <input type="text" name="description" value="">
        <hr>
        <button id="save-todo-edit">Сохранить изменения</button>
    </form>
</div>



<h1>Список ТуДушек</h1>
<button id="show-add-todo-form">Добавить ТуДушку</button>
<br><br>


<ul id="myUL">
    <li th:each="todo : ${list}" style=" ">
        <a href="#" class="todo-link" th:attr="data-id=${todo.id}" th:text="${todo.name}"></a><br>
    </li>
</ul>

<p th:text="${someParameter}"></p>

</body>
</html>
